// reset.css

#root {
  position: relative;
}

*,
:after,
:before {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body,
html {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}
canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
button,
input,
select,
textarea {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}
#__next,
#root {
  isolation: isolate;
}

* {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

*::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

// font

@font-face {
  font-family: "ChosunGs";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

// global 스타일링

// next.js의 Link tag의 밑줄을 없애기 위한 전역 설정
a {
  text-decoration: none;
}

body {
  font-family: ChosunGs;
}
